@using static ZetaDashboard.Services.CommonServices
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@* theme *@
<MudThemeProvider Theme="@MyTheme" IsDarkMode="@IsDarkMode" />

@if (IsAuthentificated)
{
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <MudHidden Breakpoint="Breakpoint.Xs">
            <div class="ps-3 navbar " 
                 style="@($"background:linear-gradient(227deg,{CommonService.GetCssVar(Color.Primary, ColorType.Lighten)} 40%, {CommonService.GetCssVar(Color.Primary, ColorType.Darken)}); height:56px !important")">
                
                 <div class="container-fluid">
                    <NoFreezeScreen />
                    <MudSpacer/>
                    <MudTooltip Text="Cerrar Sesión">
                        <MudIconButton Icon="@Icons.Material.Filled.Logout"
                                        Variant="Variant.Filled"
                                        OnClick="LogOutClicked"
                                        Color="Color.Error"></MudIconButton>
                    </MudTooltip>
                
                
                </div>
            </div>
        </MudHidden>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
}