@using Microsoft.AspNetCore.Components.Authorization
@using ZetaCommon.Auth
@using ZetaDashboard.Services
@using static ZetaDashboard.Services.CommonServices

@inject CommonServices CommonService
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigator

<div class="top-row ps-3 navbar navbar-dark"
     style="@($"background-color: {CommonService.GetCssVar(Color.Primary, ColorType.Darken)};height:56px !important")">
    
    <div class="container-fluid" style="display:flex;justify-content:center;align-items:center;">
        <a class="navbar-brand" href="" style="margin-top:8px;margin-left: -28px;">ZetaDashboard</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable navbar-gradientBg" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <text style="font-size:24px">🏡</text>
                <MudText Style="margin-left:5px;font-size:18px">Inicio</MudText>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user">
                <text style="font-size:24px">👨‍👩‍👦‍👦</text>
                <MudText Style="margin-left:5px;font-size:18px">Usuarios</MudText>
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collections">
                <text style="font-size:24px">📉</text>
                <MudText Style="margin-left:5px;font-size:18px">Colecciones</MudText>
            </NavLink>
        </div>

        <MudHidden Invert="true" Breakpoint="Breakpoint.Xs">
        <div class="nav-item px-3">
            <MudButton 
                OnClick="LogOutClicked"
                Color="Color.Error"
                FullWidth="true"
                Style="margin-top:10px"
                Variant="Variant.Filled"
                EndIcon="@Icons.Material.Filled.Logout">Cerrar sesión</MudButton>
        </div>
        </MudHidden>
    </nav>
</div>

@code{
    private async Task LogOutClicked()
    {
        (AuthProvider as CustomAuthenticationStateProvider).Logout(Navigator);
    }
}
