.dashboard-header {
    margin-top: 40px;
    color: #fff;
    font-size: 2.7rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 0 4px 24px #0005;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.dashboard-grid {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    max-width: 90vw;
    margin: 0 auto 40px auto;
    padding: 0 16px;
}
/*@media (max-width: 900px) {
    .project-card {
        max-width: calc(30% - 24px);*/ /* 2 por fila */
    /*}
}

*/

.project-card {
    position: relative;
    border: 4px solid #6c4cbd;
    border-radius: 12px;
    width: 500px;
    height: 300px;
    overflow:hidden;
}
@media (max-width: 600px) {
    .project-card {
        width: 100% !important;
        /* 1 por fila */
        min-width: 0;
    }
    .project-img {
        filter: brightness(0.4) !important;
    }
    .project-title {
        transform: translateY(0px) !important;
    }
}
.project-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transition:0.3s ease-in-out;
}
.project-card:hover{
    cursor:pointer;
}
.project-card:hover > .project-img {
    transform: scale(1.1);
    filter:brightness(0.3);
}
.project-title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    transform: translateY(-100%);
    transition: 0.3s ease-in-out;
    padding: 30px;
    word-break: break-word;
}

.project-card:hover > .project-title {
    transform: translateY(0px);
}